<h3>Employee List</h3>
<employee-list *ngFor="let emp of employee" [employee]="emp"></employee-list>
<books (bookSelected)="selectedBook = $event"></books>
<p *ngIf="selectedBook" class="selected">
  Selected book is <b>{{ selectedBook }}</b>
</p>

<h2>Search Employee</h2>
<div>
  <input
    #viewInput
    type="text"
    placeholder="Enter employee name"
    class="inputClass"
  />
  <button (click)="searchEmployee()">Search</button>
</div>

<div *ngIf="searchedEmployee">
  <p>{{ searchedEmployee.name }}</p>
  <p>{{ searchedEmployee.email }}</p>
</div>
<div *ngIf="error">
  <p>{{ error }}</p>
</div>
