.topDiv {
  padding: 20px;
}
.welcomeImage {
  width: 500px;
  height: 500px;
}
.imageBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonTrueClass {
  padding: 10px;
  border-radius: 20px;
  background-color: blue;
}
.buttonFalseClass {
  padding: 10px;
  border-radius: 20px;
  background-color: green;
}
