.topDiv {
  padding: 20px;
}
.welcomeImage {
  width: 500px;
  height: 500px;
}
.imageBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonClass {
  padding: 10px;
  border-radius: 20px;
}
